<!DOCTYPE html>
<html>
<head>
  <title>Tallertest</title>
  <%= stylesheet_link_tag    "application" %>
  <style>
  body {
	background-image:url(<%= get_background_url %>);
  } 
  </style>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
